

.page h1{
margin-top: -50px;
font-size: 30px;
color: #FFE3B5;
}

.search-form{
  background-color: #FFE3B5;
  max-width: 300px;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  color: #013220;
}
.search-product-input{
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #FFE3B5;
  width: 70%;
  background-color: #013220
}


.add-product{
   background-color: #FFE3B5;
  max-width: 300px;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  color: #013220;
}
.add-product-input{
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #FFE3B5;
  width: 70%;
  background-color: #013220
}
.select-type-product{
padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #FFE3B5;
  width: 76%;
  background-color: #013220
}

.add-product-btn{
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: red;
  width: 77%;
  background-color: #013220
}

.products{
  border: #FFE3B5 1px solid;
  max-width: 300px;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  color: #FFE3B5;
 margin-top: 15px;
}

.product-list{
  list-style: none;   /* убираем точки */
  padding: 10px;         /* убираем отступ слева */
  margin: 0;
  text-align: left;

}
.del-prod-btn{
 margin-right: 0px;
  color: red;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 0 4px;
  line-height: 1;
}

@media(max-width: 480px){
  .search-form{
    max-width: 300px;
  }
}
