/* Фиксированный хедер */
.header {
  width: 100%;
  background: #FFE3B5;
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1px solid #ccc; 
 align-content: center;

}

/* Контейнер внутри */
.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 14px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Лого */
.logo {
  max-height: 50px;
  width: auto;
  object-fit: contain;
}

/* Меню */
.nav-list {
  display: flex;
  flex-direction: row; /* ссылки всегда в одну строку */
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
.nav-list a:hover {
  color: red
}
.nav-list a.active {
  color: red;
}
/* Отступ контента вниз, чтобы хедер не перекрывал */
body {
  margin: 0;
  padding-top: 80px; /* высота хедера */
}

/* 📱 Адаптив */
@media (max-width: 600px) {
.header{
  height: 100px;
  width: 100%;
  position: fixed;
}

  .header-container {
    flex-direction: column; /* логотип сверху, меню снизу */
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .logo {
    max-height: 33px; /* уменьшаем размер */
  }

  .nav-list {
    gap: 24px; /* равномерное расстояние */
  }
}
